*{
	margin:0px;
	padding:0px;
}

body{
	background-image:url(image/12.jpg);
	background-attachment:fixed;
	background-size:cover;
	font-family:new time roman;
}
h1{
	margin-top:30px;
	text-align:center;
	margin-bottom:70px;
	color:white;
}



.label{
	font-size:18px;
	margin-top:15px;
	color:white;
	font-weight:normal;
	text-align:center-left;
	
	
}
.form-control{
	background:rgba(0,0,0,0.7);
	border-radius:0px;
	border:0px;
	margin-top:10px;
	font-size:15px;
	color:white;
	height:40px;
	text-align:center-left;
	
}
.form-control1{
	background:rgba(0,0,0,0.7);
	border-radius:0px;
	border:0px;
	margin-top:10px;
	font-size:15px;
	color:white;
	height:40px;
	width:165px;
	text-align:center-left;
	
}

.btn-info{
	
	
	
	background:rgb(60, 179, 113);
	
	border-radius:0px;
	border:0px;
	margin-top:10px;
	font-size:15px;
	color:white;
	height:40px;
	text-align:center-left;
	
	
}

.col-md-6{
	background:rgba(0,0,0,0.4);
	height:660px;
	box-shadow:-1px 1px 60px 10px black inset;
}


.btn-warning{
	margin-top:20px;
	font-size:18px;
	width:120px;
	margin-bottom:20px;
}


